body {
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapers.com/images/hd/street-view-aesthetic-anime-scenery-pkni1uws62k0h4b0.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: cursive;
  }